<html>
  <head>
  <title>Pendu</title>
  <meta charset = "UTF-8">
  <script type = "text/typescript" src = "app.component.ts"> </script>
  </head>

  <body>
    <div>Trouve moi ce mot :p</div><br/>

    <span *ngFor="let item of tab"> {{item}} </span> <br/><br/>

    <input [(ngModel)] = "letter" name = "letter" placeholder = "Entrez une lettre" maxlength = "1" required>
    <button (click) = "check_letter()">Testez cette lettre</button>

    <div>Nombre d'échecs : {{ deathcounter }}/10</div>
  </body>
</html>